* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: hsl(30, 38%, 92%);
  font-size: 0.875rem;
  min-height: 90vh;
  align-items: center;
}

h1 {
  font-family: 'Fraunces', serif;
  font-size: 2.1875rem;
  color: hsl(212, 21%, 14%);
}

h2 {
  letter-spacing: 0.15625rem;
  font-size: 0.875rem;
  color: hsl(228, 12%, 48%);
  font-weight: 700;
}

p {
  color: hsl(228, 12%, 48%);
  line-height: 1.7rem;
}

.top-container {
   display: flex;
   margin: 2.5rem auto;
   padding: 0 1.5rem;
   align-self: center;
}

.grid {
  background-color: #fff;
  border-radius: 0.9375rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 43.75rem;
  margin: auto;
}

.image-container img {
  border-top-left-radius: 0.9375rem;
  border-bottom-left-radius: 0.9375rem;
  max-width: 100%;
  display: inherit;
}

.content-container {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price-active {
  color: hsl(158, 36%, 37%);
  font-family: 'Fraunces', serif;
  font-size: 1.875rem;
  padding-right: 1.25rem;
}

.price-inactive {
  text-decoration: line-through;
}

/* Footer */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
  padding: 2.5rem 0 2.5rem 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution a:hover {
  color: #00BFBF;
}

/* Media Query */
@media only screen and (max-width: 39.375rem) {
  
  h1 {
    font-size: 1.5rem;
  }
  
  h1, h2, p, price-active, price-inactive, price-button {
    padding-bottom: 0.625rem;
  }
  
  .grid {
    grid-template-columns: 1fr;
  }

  .image-container img {
    border-top-left-radius: 0.9375rem;
    border-top-right-radius: 0.9375rem;
    border-bottom-left-radius: 0;
    max-height: 28.125rem;
    width: 100%;
    object-fit: cover;
  }

  .content-container {
    display: block;
  }

  .price-button {
    align-self: center;
    width: 100%;
    border-radius: 0.625rem;
  }
}
